<!DOCTYPE html>
<html>
<head>
    <title style="margin-left: 20%;margin-right: 20%">{% block title %}Enovbm Blog{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}
    {% endblock %}
</head>
<body>

<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                {% if app.user == false %}
                <a class="text-muted" href="{{ path('app_register') }}">Register</a>
                {% endif %}
                {% if app.user  %}
                    <a class="text-muted" href="/" style="font-family: 'Kaushan Script', cursive;font-size: 1.45rem;">Welcome back "{{ app.user.fullname }}"</a>
                {% endif %}
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="#" style="font-family: 'Kaushan Script', cursive;font-size: 2.75rem;">The Enovbm Blog</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="text-muted" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
                </a>
                {% if app.user == false %}
                <a class="btn btn-sm btn btn-outline-primary" href="{{ path('app_login') }}">Sign in</a>
                {% endif %}
                {% if app.user  %}
                    <a class="btn btn-sm btn btn-outline-danger" href="{{ path('app_logout') }}">Disconnect</a>
                {% endif %}
            </div>
        </div>
    </header>
    <hr>
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            {% if app.user  %}    <a class="p-2 text-muted" href="{{ path('user_profile', {'username': app.user.username}) }}">Profile</a> {% endif %}
            <a class="p-2 text-muted" href="{{ path('posts_show') }}">All Posts</a>
            <a class="p-2 text-muted" href="#">Contact</a>
        </nav>
    </div>

    <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style="background-image: url('https://ksapa.org/fr/wp-content/uploads/sites/1/2019/02/bienvenue-sur-le-blog-de-farid-baddache-resilience-impact-inclusion.jpg');">
        <div class="col-md-6 px-0">
            <h1 class="display-4 font-italic">Find your news on our featured blog</h1>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
            <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
        </div>
    </div>

</div>
<main role="main" class="container">
    <hr>
    <div class="row">
        <div class="col-md-8 blog-main">
            <h3 class="pb-3 mb-4 font-italic border-bottom">
                From the Firehose
            </h3>
            <div class="blog-post">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for post in posts|slice(0,10) %}
                        <div class="col-md-6">
                            <div class="card h-100">
                                <img src="https://placeimg.com/380/230/tech" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{post.titre}} <small>({{ post.comments|length }})  </small><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-quote" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v11.586l2-2A2 2 0 0 1 4.414 11H14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                            <path fill-rule="evenodd" d="M7.066 4.76A1.665 1.665 0 0 0 4 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112zm4 0A1.665 1.665 0 0 0 8 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112z"/>
                                        </svg></h5>
                                    <p> Published by <a href="{{ path('user_posts',{'username':post.user.username}) }}">{{ post.user.fullname }}</a> </p>
                                    <p class="card-text">{{post.content}}</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Last updated {{post.publishedAt |date("d/m/Y")}}</small>
                                    <div class="col-md-13">
                                    <a style="font-weight:inherit;position: absolute; right: 2%;top: unset; bottom: 1%;left: unset;right: 2%; " href="{{ path('post_show', {'url_alias': post.url_alias}) }}" class="btn btn-primary">Read the post</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div><!-- /.blog-post -->

            <!--
            <div class="blog-post">
                <h2 class="blog-post-title">New feature</h2>
                <p class="blog-post-meta">December 14, 2013 by <a href="#">Chris</a></p>

                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                <ul>
                    <li>Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</li>
                    <li>Donec id elit non mi porta gravida at eget metus.</li>
                    <li>Nulla vitae elit libero, a pharetra augue.</li>
                </ul>
                <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue.</p>
            </div>
            -->
            <!-- /.blog-post -->
            <!--
            <nav class="blog-pagination">
                <a class="btn btn-outline-primary" href="#">Older</a>
                <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
            </nav>
            -->
        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
            <div class="p-3 mb-3 bg-light rounded">
                <h4 class="font-italic">About</h4>
                <p class="mb-0">This blog was made by ENOVBM GROUP, as part of a symfony project for the E-Application module [HMIN302].</p>
            </div>

            <div class="p-3">
                <h4 class="font-italic">Latest posts</h4>
                {% for post in latests %}
                <ol class="list-unstyled mb-0">
                    <li><a href="{{ path('post_show',{'url_alias':post.url_alias}) }}" class="author">{{post.titre}}</a></li>
                </ol>
                {% endfor %}
            </div>

            <div class="p-3">
                <h4 class="font-italic">Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="https://github.com/Nassim18/my_blogSymfony">GitHub</a></li>
                </ol>
            </div>
        </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->
    <hr>
</main><!-- /.container -->

<footer class="blog-footer " style="text-align: center">
    <p>Blog template built for <a href="#">ENOVBM</a> by <a href="#">@NS_AB</a>.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>
</body>
{{ encore_entry_script_tags('app') }}
{% block javascripts %}{% endblock %}
</html>