<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Contact US{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}
    {% endblock %}
</head>

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

<form method="post">

        <div class="container">
            <header class="blog-header py-3">
                <div class="row flex-nowrap justify-content-between align-items-center">
                    <div class="col-4 pt-1">
                        {% if app.user %}
                            {% if app.user.roles[0] == 'ROLE_USER'  %}
                                <a class="text-muted" href="{{ path('profile', {'username': app.user.username}) }}">Back to profile</a>
                            {% endif %}
                            {% if app.user.roles[0] == 'ROLE_ADMIN'  %}    <a class="p-2 text-muted" href="{{ path('admin_profile', {'username': app.user.username}) }}">Back to my dashboard</a> {% endif %}
                        {% endif %}
                        {% if app.user == false%}
                            <a class="text-muted" href="{{ path('blog') }}">Home</a>
                        {% endif %}
                    </div>

                    <div class="col-4 text-center">
                        <a class="blog-header-logo text-dark" href="{{ path('index') }}" style="font-family: 'Kaushan Script', cursive;font-size: 2.75rem;">The Enovbm Blog</a>
                    </div>
                    <div class="col-4 d-flex justify-content-end align-items-center">
                        <a class="text-muted" href="#">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
                        </a>
                        <div class="col-4 pt-1">
                            {% if app.user %}
                            <a class="btn btn-sm btn btn-outline-danger" href="{{ path('app_logout') }}">Disconnect</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </header>
            <hr>


        </div>
        <div role="main" class="container">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mx-auto">
                        <div id="first">
                            <div class="myform form ">
                                <div class="logo mb-3">
                                    <div class="col-md-12 text-center">
                                        <h1 style="font-family: 'Kaushan Script', cursive;">Contact us</h1>
                                    </div>
                                </div>
                                <form action="" method="post" enctype="multipart/form-data" name="contact" >
                                    {{ form_start(formContact, { 'attr': {'enctype': 'multipart/form-data'}}) }}

                                    <div class="form-group">
                                        {{ form_row(formContact.name) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_row(formContact.email) }}
                                    </div>
                                    <div class="form-group">
                                        {{ form_row(formContact.description) }}
                                    </div>
                                    <div class="row ">
                                        <div class="col-lg-6 col-sm">
                                            <button type="reset" name="reset" id="reset" class="btn btn-block mybtn btn-warning tx-tfm">Reset</button>
                                        </div>
                                        <div class="col-lg-6 col-sm">
                                            <button type="submit" name="create" id="create" class="btn btn-block mybtn btn-success tx-tfm">Submit</button>
                                        </div>
                                        <br>
                                        <br>
                                    </div>
                                    {{ form_end(formContact) }}
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% for flashMessage in app.session.flashbag.get('message') %}

        <div class="alert alert-success">
            {{ flashMessage }}
        </div>

    {% endfor %}
</form>
{% endblock %}
</html>