<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{{ user.fullname }} posts{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %}
    {% endblock %}
</head>
<body>

<div class="container">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                {% if app.user == false %}
                    <a class="text-muted" href="{{ path('app_register') }}">Register</a>
                {% endif %}
                {% if app.user  %}
                    <a class="text-muted" href="#" style="font-family: 'Kaushan Script', cursive;font-size: 1.45rem;">Welcome back "{{ app.user.fullname }}"</a>
                {% endif %}
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-dark" href="{{ path('blog') }}" style="font-family: 'Kaushan Script', cursive;font-size: 2.75rem;">The Enovbm Blog</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                <a class="text-muted" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3"><circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg>
                </a>
                {% if app.user == false %}
                    <a class="btn btn-sm btn btn-outline-primary" href="{{ path('app_login') }}">Sign in</a>
                {% endif %}
                {% if app.user  %}
                    <a class="btn btn-sm btn btn-outline-danger" href="{{ path('app_logout') }}">Disconnect</a>
                {% endif %}
            </div>
        </div>
    </header>
    <hr>
    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between">
            {% if app.user %}
                {% if app.user.roles[0] == 'ROLE_USER'  %}    <a class="p-2 text-muted" href="{{ path('user_profile', {'username': app.user.username}) }}">My Profile</a> {% endif %}
                {% if app.user.roles[0] == 'ROLE_ADMIN'  %}    <a class="p-2 text-muted" href="{{ path('admin_profile', {'username': app.user.username}) }}">My Dashboard</a> {% endif %}
            {% endif %}
            <a class="p-2 text-muted" href="{{ path('posts_show') }}">All Posts</a>
            <a class="p-2 text-muted" href="#">Contact</a>
        </nav>
    </div>
    <!-- This part was used in the first testing -->

</div>
<main role="main" class="container">
    <hr>
    <div class="row">
        <div class="col-md-8 blog-main">
            <h3 class="pb-3 mb-4 font-italic border-bottom">
                From the Firehose
            </h3>
            <div class="blog-post">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    {% for post in posts %}
                        <div class="col-md-6">
                            <div class="card h-100">
                                <img src="{{ post.image }}" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{post.titre}}<small>({{ post.comments|length }})  </small><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-left-quote" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v11.586l2-2A2 2 0 0 1 4.414 11H14a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                            <path fill-rule="evenodd" d="M7.066 4.76A1.665 1.665 0 0 0 4 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112zm4 0A1.665 1.665 0 0 0 8 5.668a1.667 1.667 0 0 0 2.561 1.406c-.131.389-.375.804-.777 1.22a.417.417 0 1 0 .6.58c1.486-1.54 1.293-3.214.682-4.112z"/>
                                        </svg></h5>
                                    <p class="card-text">{{post.content|striptags|slice(0, 300) ~ '...'}}</p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">Last updated {{post.publishedAt |date("d/m/Y")}}</small>
                                    <a style="font-weight:inherit; text-align:right;position: absolute;bottom: 5px; right: 5px; " href="{{ path('post_show',{'url_alias':post.url_alias}) }}" class="btn btn-primary">Read the post</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div><!-- /.blog-post -->

            <!-- /.blog-post -->
            <!--
            <nav class="blog-pagination">
                <a class="btn btn-outline-primary" href="#">Older</a>
                <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
            </nav>
            -->
        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
            <div class="p-3 mb-3 bg-light rounded">
                <h4 class="font-italic">Author</h4>
                <p class="mb-0">{{ user.fullname }}.</p>
            </div>

            <div class="p-3">
                <h4 class="font-italic">Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="https://github.com/Nassim18/my_blogSymfony">GitHub</a></li>
                </ol>
            </div>
        </aside><!-- /.blog-sidebar -->

    </div><!-- /.row -->
    <hr>
</main><!-- /.container -->

<footer class="blog-footer " style="text-align: center">
    <p>Blog template built for <a href="#">ENOVBM</a> by <a href="#">@NS_AB</a>.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>
</body>

</html>